body{
    background-color: rgb(12,19,48);
}
.container{
    margin: 0px;
}
#brand-name{
    font-family: Lora;
    font-size: 35px;
    font-weight: bold;
}
.nav-link{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
.navbar-nav :hover{
    background-color: rgba(0,0,0,.05);
    border: 1px solid rgba(0,0,0,.3);
    box-shadow: 1px #cccccc;
}

#sub-container{
    position: absolute;
    padding: 15px;
    margin: auto;
}
#Chicken-tile,#Beef-tile,#Sushi-tile{
    position: relative;
    background-color: #fff;
    border: 5px solid rgb(12,19,48);
}

#head{
    text-align: center;
    font-size: 20px;
    font-family: Lora;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(12,19,48);
    
}
#line{
    background-color: #000;

}
/**Extra large devices**/
@media (min-width:1200px){

    #brand-name{
        font-family: Lora;
        font-size: 35px;
        font-weight: bold;
    }
    
}
/**Large devices**/
@media (max-width:1199px) and (min-width:992px){
    #brand-name{
        font-family: Lora;
        font-size: 35px;
        font-weight: bold;
    }

}
/**Medium devices**/
@media (max-width:991px) and (min-width:768px){
    #brand-name{
        font-family: Lora;
        font-size: 30px;
        font-weight: bold;
    }
}
/**small devices**/
@media (max-width:767px){
    #brand-name{
        font-family: Lora;
        font-size: 25px;
        font-weight: bold;
    }
}
